:root {
    --bg-color: #2C3333;
    --cor-texto: #CBE4DE;
    --cor-bg-botao: #181823;
}


.container {
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

p {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--cor-texto);
}

.fas {
    font-weight: 600;
    font-size: 2rem;
    min-width: 3rem;
}

button {
    border: none;
    padding: 30px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--cor-bg-botao);
    color: var(--cor-texto);
}

@media (max-width: 700px) {
    p {
     font-size: 26px;
    }

    .fas {
        min-width: 3rem;
    }
}

